<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <springProperty scope="context" name="LOG_FILE" source="LOG_FILE" defaultValue="logs/cupid-sync-inegestion.log"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
